/* main.css */
.container {
    padding-left: 15%;
    padding-right: 15%;
}

.card {
    margin-bottom: 12%;
}

/* SCOIAL MEDIA ICONS */
.footer-icon {
    width: 30px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    margin-left: 25px;
    margin-bottom: 20px;
}